@import "../../styles/colors.module";

.Button {
  outline: none;
  border: none;
  border-radius: 17px;
  height: 100%;
  padding: 10px 20px;
  font-weight: 800;

  &__accent {
    background: $LightSeaGreen;
    color: $White;
  }

  &:hover{
    cursor: pointer;
  }
}