@import "../../styles/colors.module";

.Button {
  outline: none;
  background: $LightSeaGreen;
  border: none;
  border-radius: 17px;
  height: 100%;
  padding: 10px 20px;
  color: $White;
  font-weight: 800;

  &:hover{
    cursor: pointer;
  }
}