@import "../../../../../../../styles/media.module";

.Person-card {
  display: flex;

  &__label {
    padding-right: 10px;
    font-weight: 600
  }

  &__info {
    display: flex;
    width: 95%;
  }

  &__cell {
    padding-right: 8px;
    width: 25%;
  }

  &__person {
    width: 50%;
  }

  &__actions {
    width: 5%;
    display: inline-flex;
  }

  &__edit, &__delete {
    cursor: pointer;
  }

  &__edit {
    padding-right: 10px;
  }
}