.Page {
  display: flex;
  justify-content: center;

  &__wrapper {
    background: #f6f5f8;
    width: 85%;
    margin: 44px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  &__content {
    display: flex;
    padding-top: 20px;
  }

  &__cards-box, &__form-box {
    padding: 0 20px;
  }

  &__cards-box {
    width: 60%;
  }

  &__form-box {
    width: 40%;
  }
}

.Text {
  margin: 0;
  padding: 10px;
  font-size: 2.5rem;
  text-align: center;
}