@import "./src/styles/media.module.scss";

.Page {
  display: flex;
  justify-content: center;

  &__wrapper {
    background: #f6f5f8;
    width: 85%;
    margin: 44px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  &__title {
    padding: 24px 40px 0;
  }

  &__content {
    display: flex;
    padding-top: 20px;
  }

  &__cards-box, &__menu {
    padding: 0 20px;
  }

  &__menu {
    width: 30%;
    margin-bottom: 30px;
  }

  &__cards-box {
    width: 70%;
  }
}

@media #{$max-tablet} {
  .Page {
    &__menu {
      display: none;
    }

    &__cards-box {
      width: 100%;
    }
  }
}


.Text {
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  text-align: left;
}