@import "../../../../../../../styles/mixins.module";

.Header {
  @include reset-default-styles();
  display: flex;
  padding: 0 15px 15px;
  font-weight: 700;
  color: #616163;
  font-size: 13px;

  &__cell {
    &-person {
      width: 46%;
    }

    &-job {
      width: 24%;
    }

    &-birthday {
      width: 22%;
    }
  }
}