@import "./src/styles/media.module.scss";

.Item-card {
  display: flex;

  &__label {
    padding-right: 10px;
    font-weight: 600
  }

  &__cell {
    padding-right: 8px;
  }

  &__person {
    width: 40%;
    padding-right: 5px;
  }

  &__project-info {
    display: flex;
    width: 45%
  }

  &__project {
    width: 55%;
  }

  &__job-position {
    width: 45%;
  }

  &__birthday {
    width: 15%;
  }

  &__actions {
    width: 5%;
    display: inline-flex;
  }

  &__edit, &__delete {
    cursor: pointer;
  }

  &__edit {
    padding-right: 10px;
  }
}

@media #{$max-tablet} {
  .Item-card {
    &__person {
      width: 45%;
    }

    &__project-info {
      flex-direction: column;
      width: 30%
    }

    &__birthday {
      width: 20%;
    }
  }
}

@media #{$mobile} {
  .Item-card {
    flex-direction: column;
  }
}